<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Dashboard</title>
</head>
<body>
  <div class="header">
    <h1>Rock On {{ user.full_name() }}!! </h1>  <button class="button"><h8><a href="/logout">Logout</a></h8></button>
    <div>
      <h4></h4>
      <br>
      <br>
    </div>
  </div>
  <th><h2>Your messages!</h2></th>
  <div class="box_table">
    <table class="table">
      <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Message</th>
            <th>Last Message Received</th>
            <th>Delete</th>
          </tr>
      </thead>
    <tbody>
      {% for message in messages %}
      <tr>
        <td>{{ message.first_name }}</td>
        <td>{{ message.last_name }}</td>
        <td>{{ message.content }}</td>
        <td>{{ message.time }}</td>
        <td>
          {% if session['uuid'] == message.receiver_id: %}
            <button><a href="/messages/{{ message.id }}/delete"> Delete</a></button>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
        <h3>Send a message!</h3>
        <table class="table">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for user in all_users %}
              {% if user.id != session['uuid'] %}
              <form action="/message_send" method="POST">
                <fieldset>
                  <legend>
                    <label for="content">Write your Message to {{ user.first_name }}</label>
                  </legend>
                  <input type="text" name="content">
                </fieldset>
                <fieldset>
                  <input type="hidden" name="rec_id" value={{ user.id }}>
                </fieldset>
                <br>
                <button>Submit</button>
              </form>
              {% endif %}
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  </html>